<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scnu.swimmingtrainsystem">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.scnu.swimmingtrainsystem.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".activity.WlecomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.RegistAcyivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.OtherFunctionActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AthleteActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.TimerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.QueryScoreActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.QueryActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MatchScoreActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ShowScoreActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ModifyPassActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.QuestionHelpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.EachTimeScoreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.SearchboxActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.RetrievePasswordActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MatchSprintScoreActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".activity.ExcuteQueryActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.ShowExplicitScoreActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>


</manifest>
